body {
    font-family: Verdana;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body a{
    text-decoration: none;
}

.container{
    width: 1060px;
    margin: 0 auto;
}

.top-part{
    display: flex;
    justify-content:space-between;
    margin: 50px 0;
    position: relative;
}


.logo-img{
    background-image: url("../img/logo.png");
    width: 46px;
    height: 44px;
    position: absolute;
}

.logo:hover .logo-img{
    background-image: url("../img/logo-hover.png");
}

.first-line {
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 63px;
}

.logo:hover .first-line{

    color: #f26522;
    
}

.second-line{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    padding-left: 63px;
}

.logo:hover .second-line{

    color: #f26522;
    
}

.contacts{
    text-align: right;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.contacts-item-email{
    padding-bottom: 5px;
}

.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-item{
    position: relative;
}

.tour-item:hover .tour-info{
    z-index: 0;
    opacity: 1;
    transition:0.5s;
}

.tour-item:hover .tour-item-title{
    color: #f2651d;
    transition:0.5s;
}

.tour-item:nth-child(-n+3){
    margin-bottom: 58px;
}

.image-content{
    width: 307px;
    background: linear-gradient(to top #000, #fff);
    box-sizing: border-box;
    box-shadow: 0 17px 24px 0 #000000;
    border: 2px solid transparent;
    border-image-source: linear-gradient(white, black);
    border-image-slice: 1;
}

.tour-item-title{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 8px;
}

.tour-info{
    display: flex;
    justify-content: space-between;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    width: 307px;
    top: 138px;
    z-index: -1;
    opacity: 0;
}

.tour-info-wrapper{
    padding-left: 20px;
    padding-top: 16px;
}

.tour-info-atribute{
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
}

.tour-info-price{
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.link-details{
    padding-top: 31px;
}

.tour-info-details{
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.tour-info-details::after{
    content: ">";
    padding-right: 18px;
    padding-left: 15px;
}

.bottom-part{
    color: #fff;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 20px;
}

.footer-text{
    font-size: 12px;
    font-weight: 400;
}
